 <div class="grid">
    <div class="lg:col-4 sm:col-6">
      <p-panel header="number">
        <pipes-panel-p _var="_number" _pipe="number:'1.2-2'"></pipes-panel-p>
        <span class="code">{{  _number | number:'1.2-2' }}</span>
      </p-panel>
    </div>

    <div class="lg:col-4 sm:col-6">
      <p-panel header="currency">
        <pipes-panel-p _var="_number" _pipe="currency:'COP '"></pipes-panel-p>
        {{  _number | currency:'COP ' }}
      </p-panel>
    </div>

    <div class="lg:col-4 md:col-6">
      <p-panel header="percent">
        <pipes-panel-p _var="_percent" _pipe="percent"></pipes-panel-p>
        {{ _percent | percent }}
      </p-panel>
    </div>
  </div>
