<p-accordion [activeIndex]="0">
  <div class="mb-2">
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2 px-2">
          <span class="font-bold">Text</span>
          <i class="pi pi-align-center"></i>
        </div>
      </ng-template>
      <pipes-text-panel></pipes-text-panel>
    </p-accordionTab>
  </div>
  <div class="mb-2">
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2 px-2">
          <span class="font-bold">Number</span>
          <i class="pi pi-hashtag"></i>
        </div>
      </ng-template>
      <pipes-number-panel></pipes-number-panel>
    </p-accordionTab>
  </div>
  <div class="mb-2">
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2 px-2">
          <span class="font-bold">Dates</span>
          <i class="pi pi-calendar"></i>
        </div>
      </ng-template>
      <pipes-date-page></pipes-date-page>
    </p-accordionTab>
  </div>
</p-accordion>
