<p-accordion [activeIndex]="0">
  <div class="mx-2">
    <div class="mb-2">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2 px-2">
            <span class="font-bold">Text</span>
            <i class="pi pi-align-center"></i>
          </div>
        </ng-template>
        <p class="code line-height-3">
          <span class="text-bluegray-400">TypeScript Component</span> <br />
          <span class="text-pink-400">text</span>: string =
          <span class="text-cyan-400">'This is a Text'</span>; <br /><br />
        </p>
        <pipes-text-panel></pipes-text-panel>
      </p-accordionTab>
    </div>


    <div class="mb-2">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2 px-2">
            <span class="font-bold">Dates</span>
            <i class="pi pi-calendar"></i>
          </div>
        </ng-template>
        <p class="code line-height-3">
          <span class="text-bluegray-400">TypeScript Component</span> <br />
          <span class="text-pink-400">date</span>: Date =
          <span class="text-cyan-400">new</span>
          <span class="text-yellow-600"> Date</span>
          <span class="text-yellow-300">()</span>; <br />
          <span class="text-gray-200">{{ this.date }}</span>
          <br /><br />
        </p>
        <pipes-date-panel></pipes-date-panel>
      </p-accordionTab>
    </div>

    <div class="mb-2">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2 px-2">
            <span class="font-bold">Number</span>
            <i class="pi pi-hashtag"></i>
          </div>
        </ng-template>

        <p class="code line-height-3">
          <span class="text-bluegray-400">TypeScript Component</span> <br />
          <span class="text-pink-400">_number</span>: number =
          <span class="text-blue-200">2854398.255</span>; <br />
          <span class="text-pink-400">_percent</span>: number =
          <span class="text-blue-200">0.332</span>; <br /><br />
        </p>
        <pipes-number-panel></pipes-number-panel>
      </p-accordionTab>
    </div>
  </div>
</p-accordion>
