 <div class="grid">
    <div class="lg:col-4 sm:col-6">
      <p-panel header="lowercase">
        <pipes-panel-p _var="text" _pipe="lowercase"></pipes-panel-p>
        <span class="code">{{ text | lowercase }}</span>
      </p-panel>
    </div>

    <div class="lg:col-4 sm:col-6">
      <p-panel header="uppercase">
        <pipes-panel-p _var="text" _pipe="uppercase"></pipes-panel-p>
        {{ text | uppercase }}
      </p-panel>
    </div>

    <div class="lg:col-4 md:col-6">
      <p-panel header="titlecase">
        <pipes-panel-p _var="text" _pipe="titlecase"></pipes-panel-p>
        {{ text | titlecase }}
      </p-panel>
    </div>
  </div>
