<div>
  <div class="grid">
    <div class="col ml-2">
      <div class="mb-3">
        <p-panel header="i18nSelect">
          <pipes-panel-p
            _var="gender"
            _pipe="i18nSelect:genderMap"
          ></pipes-panel-p>
          <div *ngFor="let c of characters">
            <span class="text-pink-200">{{
              c.gender | i18nSelect: genderMap
            }}</span>
            name is {{ c.name }}
          </div>
        </p-panel>
      </div>
      <div class="my-3">
        <p-panel header="json">
          <pipes-panel-p _var="lengthMap"></pipes-panel-p>
          {{ genderMap }}
          <br><br>
          <pipes-panel-p _var="lengthMap" _pipe="json"></pipes-panel-p>
          <pre>{{ lengthMap | json }}</pre>
        </p-panel>
      </div>
      <div class="my-3">
        <p-panel header="async">
          <pipes-panel-p _var="observableTimer"></pipes-panel-p>
          <pre>{{ observableTimer}}</pre>
          <br>
          <pipes-panel-p _var="observableTimer" _pipe="async"></pipes-panel-p>
          <pre>{{ observableTimer | async }}</pre>
        </p-panel>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <p-panel header="i18nPlural">
          <pre>{{ simpsons | slice: 0 : simpsons.length }}</pre>
          <pipes-panel-p
            _var="simpsonsArray"
            [_length]="true"
            _pipe="i18nPlural:lengthMap"
          ></pipes-panel-p>
          <div class="mb-1">{{ simpsons.length | i18nPlural: lengthMap }}</div>
          <br />
          <p-button
            (click)="shift()"
            label="{{ simpsons.length > 0 ? 'Shift' : 'Reset' }}"
          ></p-button>
        </p-panel>
      </div>
      <div class="my-3">
        <p-panel header="slice">
          <pipes-panel-p _var="simpsonsArray"></pipes-panel-p>
          <pre>{{ simpsons | slice: 0 : simpsons.length }}</pre>
          <br />
          <pipes-panel-p _var="simpsonsArray" _pipe="slice:0:3"></pipes-panel-p>
          <pre>{{ simpsons | slice: 0 : 3 }}</pre>
          <br />
          <pipes-panel-p
            _var="simpsonsArray"
            _pipe="slice:2:-1"
          ></pipes-panel-p>
          <pre>{{ simpsons | slice: 2 : -1 }}</pre>
        </p-panel>
      </div>
    </div>
  </div>
</div>
