<p class="code">
  <span class="text-bluegray-400">//TypeScript Component</span> <br />
  <span class="text-pink-400"> text</span>: string =
  <span class="text-cyan-400">'This is a Text'</span>; <br /><br />

  <span class="text-bluegray-400">//HTML template </span> <br />
  <span class="text-yellow-300">&#123;&#123;</span>
  this.<span class="text-pink-400">text</span>
  <span class="text-yellow-300"> &#124; </span>
  <span class="text-teal-200"> {{_pipe}} </span>
  <span class="text-yellow-300">&#125;&#125;</span> <br /><br />
</p>
