/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";

html{
  background-color: rgb(25, 35, 51);
}

.code {
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
}
